.tab {
	position: relative;
	top:20px;
}
.tab1{
	position: relative;
	top:70;
	margin:10px;
	margin-top:20px;
	padding: 20px;
	border:2px solid grey;
	border-radius:250px;
	box-shadow:2px;
	width:135px;
	height:140px;
	line-height:80px;
	font-size:108%;
	box-shadow: 9px 9px;
	background:#FFA07A;
	
}
.tab2{
	position: relative;
	left:1120px;
	margin:10px;
	border:2px solid grey;
	border-radius:25px;
	width: 105px;
	padding:10px;
	height:45px;
	text-align:center;
	line-height:20px;
	box-shadow: 5px 5px;
	background:#FFD700;
	
	
}
a:hover{
	color:grey;
	opacity:0.7;
}
a {
	text-decoration: none;
	color:black;
}
.tab3{
	border:1px white;
	position:relative;
	top:-40;
	padding:5px;
	margin:5px;
	width:400px;
	height:300px;
}
.im{
	position:relative;
	top:-30;
	color:blue;
	padding:0;
	margin:5px;
}
.tab4{
	position:relative;
	top:-356;
	left:410;
	padding:5px;
	margin:5px;
	width:400px;
	height:300px;
}
.tab5{
	position:relative;
	top:-665;
	left:810;
	padding:5px;
	margin:5px;
	width:400px;
	height:300px;
}
#page{
	overflow: hidden;
}