img {
	width: 30%;
	height: 200px;
	opacity: 0.7;
	border: 1px grey;
	border-radius:20px 20px;
}
.block1{
	position:relative;
	left:45%;
	top:-200px;
	width:400px;
	height:300px;
	border:3px;
	line-height:200%;
	margin:0;
	padding:0;
	
}
.block2{
	position:relative;
	left:20px;
	top:-300px;
	width:400px;
	height:225px;
	border:3px solid white;
	display:block;
	border-radius: 20px 20px;
	margin:0;
	padding:0;
}
li {
	color:black;
	list-style-type:square;
	
}
.block3{
position:relative;
	left:430px;
	top:-530px;
	width:400px;
	height:225px;
	border:3px solid white;
	display:block;
	border-radius:20px 20px;
	margin:0;
	padding:0;
}	
.block4{
	position:relative;
		left:850px;
		top:-760px;
		width:400px;
		height:450px;
		border:3px solid white;
		display:block;
		border-radius:20px 20px;
		margin:5px;
		padding:0;
}
.block5{
	position:relative;
		left:20px;
		top:-950px;
		width:400px;
		height:200px;
		border:3px solid white;
		display:block;
		border-radius:20px 20px;
		margin:5px;
		padding:0;
		

}
.block6{
	position:relative;
		left:430px;
		top:-1160px;
		width:400px;
		height:200px;
		border:3px solid white;
		display:block;
		border-radius:20px 20px;
		margin:5px;
		padding:0;
}


























